<#assign REQ=request.contextPath>
<link href="${REQ}/assets/favicon/favicon@5.ico" rel="apple-touch-icon" type="image/png" sizes="144x144">
<link href="${REQ}/assets/favicon/favicon@5.ico" rel="apple-touch-icon" type="image/png" sizes="114x114">
<link href="${REQ}/assets/favicon/favicon@4.ico" rel="apple-touch-icon" type="image/png" sizes="72x72">
<link href="${REQ}/assets/favicon/favicon@3.ico" rel="apple-touch-icon" type="image/png">
<link href="${REQ}/assets/favicon/favicon@2.ico" rel="icon" type="image/png">
<link href="${REQ}/assets/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">