<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .wenben{
            width:1000px;
            height:auto;
            margin:0 auto;
            border:1px solid #d6d7dc;
            padding:20px 30px 40px 30px;
            background: white;
        }
        .wenben h5{
            font-size: 24px;
            font-weight: normal;
            text-align: center;
        }
        body{
            background: #efeff4 ;
        }
    </style>
</head>
<body>
    <div class="wenben">
        <h5>用户注册服务协议</h5>
        <p style="text-indent: 40px">浙江易建易工网络科技有限公司（以下简称  “  本公司  ”  ）依据本协议的规定为用户提供服务，
            本协议在用户和本公司间具有合同法上的法律效力。本公司在此特别提醒用户认真阅读、充
            分理解本协议各条款，特别是其中所涉及的免除、限制本公司责任的条款、对用户权利限制
            条款、争议解决和法律适用等。请用户审慎阅读并选择接受或不接受本协议（未成年人应在
            监护人陪同下阅读  ）。  除非用户接受本协议所有条款  ，  否则用户无权使用本公司于本协议下
            所提供的服务。用户在本网站注册、登录或使用本网站服务，即表示用户完全接受本协议的
            全部条款，并同意接受其约束。</p>
        <p>一、定义及特别说明
        在本协议中所使用的下列词语，除非另有定义，应具有以下含义：<br/>
        1.1     本平台，是指域名为  “  易工家  ”  的平台。<br/>
        1.2     用户  ，  是指符合本协议所规定的条件  ，  同意遵守本公司各种规则  、  条款  ，  并使用本协
        议下本公司所提供服务的个人或企业组织。<br/>
        1.3  本协议内容包括以下全部条款，以及本公司通过本平台已发布及将来可能发布的与用户
        有关的各项规则；规则系本协议不可分割的一部分，与本协议条款具有同等法律效力。本公
        司保留本协议的最终解释权，并有权根据需要不时修改本协议的内容。如本协议条款或本公
        司各项规则有任何变更，本公司将通过本平台刊载公告。经修订的相关条款和规则一经公告，
        即于公告规定的特定生效日期自动生效  。  用户需适时  关注本公司关于相关条款和规则的公
        告，若用户不同意变更后的协议内容，可以在变更公告公布之日起  3  日内与本公司联系，书
        面注明终止本协议并停止使用本平台。如用户在本条所述时限内未与本公司联系告知终止协
        议，或继续使用本公司通过本平台提供的任何服务，则视为用户已经同意接受该等变更，经
        修订的相关条款和规则于公告规定的特定生效日期自动生效并对用户产生法律约束力。</p>
        <p>二、用户资格<br/>
        2.1     符合下列条件之一的个人、组织，才能申请成为用户，才能使用本协议项下的服务：<br/>
        2.1.1     年满十八周岁，并具有民事权利能力和民事行为能力的自然人；<br/>
        2.1.2     未满十八周岁，但监护人（包括但不仅限于父母）予以书面同意的自然人；<br/>
        2.1.3     根据中国法律、法规成立并合法存在的公司等企业法人、事业单位、社团组织和其他
        组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不当注册
        为用户或超过其民事权利或行为能力范围从事交易的，其与本公司之间的协议自始无效，本
        公司一经发现，有权立即注销该用户。<br/>
        2.2     用户必须按本网站规定办理注册手续，获得帐号及其密码。用户不得将自身帐号转让、
        转借给其他第三人使用，对该帐号及其密码负保管义务，并对由此引起的纠纷、损失和法律
        责任担责。<br/>
        2.3     用户必须如实填写并及时更新有效的联系地址和联系电话  ，  并提供真实姓名或名称  。
        本公司在您注册和使用本公司通过易工家提供的服务的完整期间内需向您作出的任何通知，
        将通过联系用户登记的联系人或将相关信息发送至登记  联系人的电子邮箱  、  手机等方式作
        出。用户的登记联系人的上述信息发生任何变更的，应及时通知本公司；因您未及时通知该
        等变更而造成的全部损失，将由您自行承担。<br/></p>
        <p>三、本公司的服务内容<br/>
        1  、  本公司通过本平台提供的服务包括但不限于  ：  财务管理顾问服务  、  客户服务  、  代付  /  代
        收工资服务、贷款咨询服务、查询交易机会服务与上述服务有关的其他互联网金融服务等，
        具体以本公司届时实际提供的服务内容为准。本平台是给广大用户提供服务的平台，是易工
        家和  /  或与易工家合作的第三方机构根据各自协议约定向用户提供服务。<br/>
        2  、本公司保留就通过易工家向您提供的服务是否收取服务费及服务费的具体标准和规则的
        权利，相关服务费的收取标准规则等将通过本平台或双方协议的形式公布，以最近的规则或
        协议为准。<br/>
        3  、本公司通过本平台提供的服务需要用户完成身份认证或企业实名认证后方能享用；用户
        因未完成身份认证或企业实名认证而无法享用相关  服务的  ，  本公司不承担任何责任  。     协议
        的修订<br/>
        4  、本协议可由本公司修订，并将修订后的协议公告于本平台，修订后的条款内容自公告时
        起生效，并成为本协议的一部分。公司在协议修订完成后应将协议修订后的条款以网站公告
        方式告知用户，用户有选择继续接受或拒绝接受修订后协议的权利。若在本协议修改之后，
        用户未在告知之日起十日内做出拒绝接受的意思表示，或仍继续使用本网站相关服务的，视
        为用户接受和自愿遵守修订后的协议。<br/></p>
        <p>四、用户的陈述与保证：<br/>
        若您为个人用户，
        就您同意使用的本平台提供的代付  /  代收工资服务而言，您同意在此作出如下陈述与保证：<br/>
        1  、  您知晓并同意  ，  在相关劳动合同或劳务合同项下而对您负有劳动  /  劳务报酬支付义务的
        付款人有权使用与本公司建立合作关系的第三方支付机构向您支付劳动  /  劳务报酬；<br/>
        2  、为前述目的，您同意向本公司提供真实、准确、完整的个人信息，包括但不限于您的身
        份信息、联系方式、联系地址、收款指定银行账号等，并同意本公司有权为向您提供前述服
        务之目的将上述个人信息分享给合作的第三方支付机构及其他合作机构；<br/>
        3  、若您提供的个人信息发生变更，您应第一时间通知本公司并依据本平台的相关规则重新
        绑定或认证您的个人信息；因您未及时通知该等变更或未根据本平台的相关规则进行操作而
        遭受的全部损失（包括但不限于劳务报酬无法按约发放、本公司无法及时与您取得联系等），
        将由您自行全部承担；<br/>
        4  、您有权使用本平台向您提供的劳务报酬支付状态反馈、对账、查账等功能。为信息查询
        之便利及满足您的个性化服务需求  ，  您同意本公司  有权保存  、  整理及分析您的劳动  /  劳务报
        酬收入及其他本公司合法取得的您的个人数据信息，并在您的易工家个人账户的相关页面中
        展示部分相关信息；尽管有前述规定，您理解并同意易工家展示的、或您通过易工家查询到
        的任何款项信息仅可作为参考，具体款项收付情况应以您实际收到的款项为准；<br/>
        5  、您应自行处理您与付款人之间因款项划付而产生的或与之有关的纠纷，该等纠纷与本公
        司无涉  。  为避免歧义  ，  您确认并同意  ，  易工家向您  提供的代付  /  代收工资服务在任何情况下
        均不得被认定或解释为易工家  、  本公司  、  第三方支付机  构或其他合作机构对您的任何劳动  /
        劳务报酬负有任何支付义务或担保义务；易工家相关页面展示的任何有关您的劳务报酬的信
        息（包括但不限于已付工资、待付工资、累计收入等）仅为虚拟参考数据展示，在任何情况
        下均不得被认定或解释为易工家、本公司、第三方支付机构或其他合作机构对您劳务报酬的
        数额、支付时间、支付方式等的任何承诺或担保；<br/>
        6  、您同意本公司有权根据您的个人信息以及劳务报酬收入情况，向您推送个性化的交易机
        会信息。您可根据自身资金情况及风险承受能力自行决定是否参与或投资于该等交易机会，
        并根据该等交易机会项下具体服务协议履行相应的权利和义务。
        若您为企业用户，
        就您同意使用的易工家提供的代付  /  代收工资服务而言  ，  您同意本公司有权保存  、  整理及分
        析您的劳动  /  劳务报酬支付信息及其他本公司合法取得的您的数据信息  ，  继而根据该等信息
        向您推送个性化的融资交易机会。您可根据自身情况及风险承受能力决定是否参与该等融资
        交易。该等融资交易的具体内容以及服务费用等，以您与本公司及相关方另行签署的具体服
        务协议为准。<br/></p>
        <p>五、用户使用限制<br/>
        1  、您不得利用本公司、本平台或本公司通过易工家提供的服务从事任何不符合中国法律法
        规、损害国家或公共利益或侵犯第三方权益的活动。本公司发现您从事上述活动时，有权不
        经通知而立即终止您对易工家或本公司通过易工家提供的服务的任何使用权利。<br/>
        2  、在使用本公司通过易工家提供的任何服务（包括但不限于站内信服务、其他电子邮件转
        发服务等）的过程中，您不得发送、公布或展示任何垃圾邮件、信息或其他可能违反中国法
        律法规及本协议的内容。本公司在发现您从事该等活动或发布该等内容时，有权不经您同意
        而删除该等内容，并有权不经通知而立即暂停或停止您对本公司通过易工家提供的全部或部
        分功能的使用。<br/>
        3  、您在注册时向本公司提交的手机号、用户名、密码及安全问题答案是您在易工家的唯一
        识别信息（特定服务场景下，本公司可能要求您设定其他交易识别信息，如交易密码；该等
        其他交易识别信息在特定服务场景下与上述信息共同构成本公司对您身份的双重验证。具体
        规则以您届时与本公司另行签署的与该等其他交易识别  信息有关之协议为准  ）。  您注册成功
        后，应严格履行对注册的用户名、密码及安全问题答案及其他身份识别信息的保密及保管，
        不得将上述信息转让或授权给第三方使用。您确认，在您使用您的用户名和密码登陆易工家
        后，所从事的一切行为均代表您本人，并由您本人承担相应的法律后果。<br/>
        4  、本公司及易工家所发布、嵌套或附载的所有内容，包括但不限于文本、数据、图片、音
        频、视频、系统框架、源代码和其他任何信息，均由本公司享有知识产权或依据本公司与知
        识产权权利人签署的协议享有相关使用许可。未经本公  司事先书面同意  ，您、企业用户的指
        定联系人或工作人员、或任何第三方不得复制、改编、传播、公布、展示或以任何其他方式
        侵犯上述内容的知识产权。<br/></p>
        <p>六、用户信息的保护及披露<br/>
        1  、用户信息的提供、搜集及核实<br/>
        1.1     个人用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、
        联系地址、邮政编码等内容的有效性、安全性和及时更新，以便本公司为您提供服务并与您
        进行及时、有效的联系。企业用户有义务在注册时提供公司以及指定联系人的真实资料，并
        保证诸如企业用户的名称、地址、固定电话，以及指定联系人的身份信息、电子邮件地址、
        联系电话等内容的有效性、安全性和及时更新，以便本公司为您提供服务并与您进行及时、
        有效的联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本
        公司服务过程中遭受的任何损失或增加任何费用等不利后果。<br/>
        1.2     本公司可能从公开及私人资料来源收集您的额外资料  ，  以更好地了解用户  ，  并为您提
        供个性化的服务、解决争议以及确保相关金融服务的安全性。本公司仅收集本公司认为与上
        述目的相关或达成该目的所必须的您的资料。<br/>
        1.3     您同意本公司可以自行或通过合作的第三方机构对您提交或本公司搜集的用户信息进
        行核实，并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。<br/>
        1.4     本公司按照您在易工家上的行为自动追踪关于您的某些资料  。  本公司将利用这些资料
        进行有关易工家之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和易
        工家的其他用户提供更好的服务。<br/>
        2  、用户信息的使用和披露<br/>
        2.1     您同意本公司可使用关于您的资料  （  包括但不限于本公司持有的有关您的档案中的资
        料，及本公司从您目前及以前在本公司平台上的活动所获取的其他资料）以解决争议、调停
        纠纷、确保安全提供相关服务，以及执行本公司的服务协议及相关规则。本公司有时可能调
        查多个用户以识别问题或解决争议，特别是本公司可审查您的资料以区分使用多个用户名或
        别名的用户。为限制通过互联网及移动互联平台的欺诈或其他违法或刑事犯罪活动，使本公
        司和  /  或任何第三方免受其害，您同意本公司可通过人工或自动程序对您的资料进行评价。<br/>
        2.2     您同意本公司可以使用您的资料以改进本公司的推广和促销工作、分析服务的使用率、
        改善本公司产品及服务的内容和推广形式，并使其内容、设计和服务更能符合用户的要求。
        这些使用能改善本公司的系统，以使其更能符合您的需求，从而使您在使用本公司通过易工
        家提供的服务时得到更为顺利、有效、安全及个性化的体验。<br/>
        2.3     您同意本公司利用您的资料与您联络并（在某些情况下）向您传递针对您的兴趣而提供
        的信息，例如：有针对性的广告条、行政管理方面的通知、产品信息以及有关您使用本公司
        产品或服务的通讯。您接受本协议即视为您同意收取这些资料。<br/>
        2.4     您注册成功后应妥善保管您的用户名和密码。您确认，无论是您还是您的代理人或第三
        人，或企业用户的指定联系人、工作人员、代理人或第三人，用您的用户名和密码登录易工
        家后在易工家所作出的一切行为均代表您，并由您承担相应的法律后果。<br/>
        2.5     本公司对于您提供的  、  自行收集到的  、  经认证的个人  /  企业信息将按照本协议及有关规
        则予以保护、  使用或者披露  。本公司将采用行业标准惯例以保护您的资料，但鉴于技术限制，
        本公司不能确保您的全部私人通讯及其他资料不会通过本协议中未列明的途径泄露出去。<br/>
        2.6     您使用本公司通过易工家提供的服务进行交易时，您即授权本公司将您的包括但不限于
        真实姓名  、  联系方式  、  信用状况等必要的个人  /  企业信息和交易信息披露给与您交易的另一
        方或本公司的合作机构（仅限于本公司为完成拟向您提供的服务而合作的机构）。<br/>
        2.7     本公司有义务根据有关法律要求向司法机关和政府部门提供您的资料。在您未能按照与
        本协议、本公司有关规则或者与本公司其他用户签订的有关协议的约定履行自己应尽的义务
        时，本公司有权根据自己的判断、有关协议和规则、司法机关生效裁决文书或者与该笔交易
        有关的其他用户的合理请求披露您的资料（包括但不限于在本公司平台及其他互联网平台上
        公布您的违法  、  违约行为  ，  并将有关内容记入任何与您  相关的信用资料  、  档案或数据库  ），
        并且其他用户可以采取发布您的信息的方式追索债权或  通过司法部门要求本公司提供相关
        资料，本公司对此不承担任何责任。<br/>
        3  、您对其他用户信息的使用<br/>
        3.1     在您使用本公司通过易工家提供的服务过程中  ，  您无权要求本公司提供其他用户的资
        料，  除非符合以下条件  ：  您已向法院起诉其他用  户在使用易工家过程中的违约行为  ；或     其
        他用户明确书面同意并授权本公司提供该用户信息。<br/>
        3.2     如您通过签署有关协议等方式获得其他用户的信息，您同意不将该等信息用于除向债务
        人追索债权以外的其他任何用途，除非该等信息根据适用的法律规定被有管辖权的法院或政
        府部门要求披露。<br/>
        4  、若您未能按照您与本公司及本公司其他用户签订的协议等法律文本的约定履行相应义务，
        本公司有权披露您的用户信息及违约事实。本公司有权将上述信息写入本公司黑名单，或与
        任何第三方进行数据共享，以供本公司及第三方审核、催收之用。由此给用户造成的任何损
        失，本公司不承担法律责任。<br/></p>
        <p>七、不保证条款<br/>
        1  、您应了解，本公司、本公司的关联方、及本公司和本公司关联方的股东、实际控制人、
        董事、员工、代理人均不以任何明示或默示的方式对您通过易工家形成的交易、交易风险及
        交易履约提供任何担保，均不以任何明示或默示的方式保证由其他用户或机构提供的信息内
        容的真实性、充分性、及时性、可靠性、完整性和有效性。您应根据自身的风险承受能力，
        衡量交易相对方信息及其他相关信息以及与其交易的真实性和安全性。您通过易工家达成的
        任何交易所产生的直接及间接的损失均由您独立承担。<br/>
        2  、易工家上所载内容可能涉及或链接到由第三方所有、控制或者运营的其他网站（以下简
        称  “  第三方网站  ”  ）。本公司不能保证也没有义务保证第三方网站上的信息的真实性和有效性。
        您确认按照第三方网站的注册协议而非本注册协议使用第三方网站及其内容、产品、广告和
        其他任何信息，均由您自行判断并承担风险。<br/>
        3  、由于下列不可抗力或者其他意外事件致使本协议的履行不可能、不必要或者无意义的，
        不构成本公司的违约，      本合同所称之不可抗力或者其他意外事件意指不能预见、不能避
        免并不能克服的客观情况，包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴
        动、恐怖主义、敌对行为、法定疾病、黑客攻击、网络病毒、交通中断、停止供应主要服务、
        电力中断、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。<br/></p>
        <p>八、通知<br/>
        本协议项下的通知如以公示方式作出  ，  一经在易工家公示即视为已经送达  。  除此之外  ，其
        他向您发布的具有专属性的通知将由本公司发送至您  在注册时或者注册后变更用户信息时
        向本公司提供的手机号码。任何信息自本公司发出时起，即视为已告知用户，用户不得以任
        何理由否认该等信息的效力或拒绝履行该等信息下用户的相应义务。请您密切关注您的手机
        中的短信信息。</p>
        <p>九、违约责任<br/>
        如果您违反了您在本协议中所作的陈述  、  保证  、  承诺或任何其他义务  ，  致使本公司或本公
        司的股东、实际控制人、董事、员工、代理人承受任何损失，您应向受损失的一方做出全额
        赔偿。</p>
        <p>十、终止<br/>
        除非本公司终止本协议  ，  或者您申请终止本协议并经本公司同意  ，  否则本协议始终有效  。
        在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本公司有权通过电
        子邮件告知方式终止本协议、关闭您的账户或者限制您使用本公司在本协议下提供的相关服
        务。</p>
        <p>十一、条款的独立性<br/>
        若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
        <p>十二、适用法律和管辖<br/>
        12.1  本协议及其修订本的有效性  、  履行和与本协议及其修订本效力有关的所有事宜  ，  将受
        中华人民共和国法律约束，任何争议仅适用中华人民共和国法律。<br/>
        12.2     因本协议所引起的用户与本公司的任何纠纷或争议，首先应友好协商解决，协商不成
        的，用户在此完全同意将纠纷或争议提交本公司住所地有管辖权的人民法院诉讼解决。</p>
    </div>

</body>
</html>